{% extends 'html/index.html'%}

{% block content %}

{% if error %}
{{ error }}
{% endif %}

{% load static %}

<form method="post" action="" class="box">{% csrf_token %}



	<link rel="stylesheet" type="text/css" href="{% static 'css/index.css'%}">


	<h1>LOGIN</h1>
	<input type="username" name="username" placeholder="USERNAME">
	<input type="password" name="password" placeholder="PASSWORD">
	<input type="submit" name="" value="LOGIN">

	<p><a href="{%url 'password_reset'%}">Forgot your password?</a></p>

</form>	
{% endblock %}

